# Django registration settings
ACCOUNT_ACTIVATION_DAYS = 7 

# Email settings for sending accout activation mails
EMAIL_USE_TLS = True
EMAIL_HOST = "smtp.gmail.com"
EMAIL_HOST_USER = "user@example.com"
EMAIL_HOST_PASSWORD = "secret"
EMAIL_PORT = 587

